
h1{
    font-size: 30px;
    color: rgb(217, 240, 116);
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bolder;
  }
  
  .selection{
      padding-bottom: 15px;
    font-size: 20px;
    text-transform: none;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bolder;
    /* font-size: 16px; */
    left: 50%;
     top: 50%;
     position: absolute;
     -webkit-transform: translate3d(-50%, -50%, 0);
     -moz-transform: translate3d(-50%, -50%, 0);
     transform: translate3d(-50%, -50%, 0);
  }
  
  .selectionbtn{    
    height: 50px;
    width: 200px;
    background-color:yellowgreen;
    border-radius: 0px;
    font-size: 18px;
    color:white;
    border: none !important;
    margin-bottom: 5px;
}

  .selectionlabel{
    font-size: 30px;
    color: rgb(2, 1, 14);
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bolder;
  }

  .back{
      font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    margin-bottom: 15px;
    float: left;
  }
  
  .home{
      font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
    margin-bottom: 15px;
    float: right;
  }
  
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(5, 2, 20, 0.3);
    font-weight: bolder;
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #1678a5, #25b7c4);
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
  }
  section{
    margin: 50px;
  }
  
  
  /* follow me template */
  .made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
  }
  .made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
  }
  .made-with-love a {
    color: #fff;
    text-decoration: none;
  }
  .made-with-love a:hover {
    text-decoration: underline;
  }
  
  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }
  
  
  
  
  
  
  /* Button */
  .regbutton{    
    height: 50px;
    width: 200px;
    background-color:tomato;
    border-radius: 0px;
    font-size: 18px;
    color:white;
    border: none !important;
    margin-bottom: 5px;
}
.regbutton:hover{    
    color: white;
    background-color:#aa422f;
}
.regbutton:active{    
    color: white;
    background-color:#aa422f;
}






.submitbtn{    
    height: 50px;
    width: 200px;
    background-color:#91f311;
    border-radius: 0px;
    font-size: 18px;
    color:white;
    border: none !important;
    margin-bottom: 5px;
}
.submitbtn:hover{    
    color: white;
    background-color:rgb(25, 221, 107);
}
.submitbtn:active{    
    color: white;
    background-color:#aa422f;
}