{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add referance</title>
</head>

<body>
    <form action="addreferance" method="POST">
        {%csrf_token%}
        <label for="subject">subject</label><select name="subject">
            {%for sub in subjects%}
            <option value={{sub.id}}>{{sub.name}}</option>
            {%endfor%}
        </select><br>
        <label for="date">Date</label><input type="date" name="date" id=""><br>
        <label for="referancename">Name</label><input type="text" name="referancename"><br>
        <label for="module">Module Name</label><input type="text" name="module"><br>
        <label for="description">Description</label><input type="text" name="description"><br>
        <label for="filelink">File link</label><input type="text" name="filelink"><br>
        <input type="submit">
    </form>
    <a href="/teacherhome">Home</a>
    {%for message in messages %}
    <script>alert('{{ message }}'); </script>
    {% endfor %}
</body>

</html>